.topbar {
  width: 100%;
  height: 6rem;

  // position: fixed;
  // top: 0;
  //z-index: 2;

  .wrapper {
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .logo {
        font-weight: 700;
        text-decoration: none;
        color: #007cc7;
        font-size: 2.5rem;
      }
    }
    .right {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      //margin-right: 4rem;
      .about {
        text-decoration: none;
        color: #007cc7;
      }
      .Restaurants {
        margin: 0 7rem;
        text-decoration: none;
        color: #007cc7;
      }
      .map {
        text-decoration: none;
        color: #007cc7;
      }
    }
  }
}
