@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.carousel__img {
  min-width: 90vw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  animation: slidein 5s ease-in;
  scroll-behavior: smooth;
}

.carousel__arrow {
  cursor: pointer;
  margin: 20px;
}

.carousel__arrow:hover {
  transform: scale(2.12);
}
