.marker-btn {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 25px;
    height: 25px;
  }
}

.mapboxgl-popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 285px;
  background-color: transparent !important;
}

/* Move the content above the :before element so rotated rectangle doesn't cover content */
.mapboxgl-popup-content div {
  position: relative;
  z-index: 5;
  background-color: #f2f2f2;
  margin-bottom: 0;
}
.marker-btn {
  height: 4rem;
}

/* This is the new tip */
.mapboxgl-popup-content:before {
  content: "";
  position: absolute;
  /* I've found 9px looks better than 10px */
  top: -webkit-calc(100% - 9px);
  top: calc(100% - 9px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background: transparent;
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  /* The shadow is translated down a bit so it doesn't show inside the pop-up */
  box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.mapboxgl-popup {
  margin-top: -10px;
  margin-left: 20px;
}
.mapboxgl-popup-close-button {
  font-size: 28px;
  text-align: center;
  margin-right: 11rem;
  font-family: Tahoma, Verdana, sans-serif;
  color: red;
  font-weight: bold;
}
/* Hide the old tip */
.mapboxgl-popup-tip {
  display: none;
}

.card-content {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  height: 100%;

  .Card-map--name {
    font-size: 1.6rem;
    color: #555;
  }
  .rating-container {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
  }

  .Card-map--type {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .Card-map--hours {
    list-style: none;
    .open {
      color: green;
    }
    .close {
      margin-top: 1rem;
      color: red;
      margin-bottom: 1rem;
    }
  }
}
